### Dataframelerin Tanımlanmaları

Satır ve sütuna sahip iki boyutlu veri yapılarıdır. İki boyutlu dizi ya da satır ve sütun şeklinde bir tablo olarak tanımlanabilir. Pandas serileri bir boyutlu veri yapıları iken DataFrame'ler 2 boyutlu veri yapıları şeklindedir.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
randn(3,3)

array([[-1.35853921,  1.29774319, -0.51469257],
       [-1.2448138 , -0.883528  ,  2.78349209],
       [ 0.76879678, -0.61324487, -0.49877647]])

In [4]:
df = pd.DataFrame(randn(3,3),index = ["A","B","C"],columns = ["Column1","Column2","Column3"])

In [6]:
df

    Column1   Column2   Column3
A  1.020045  0.964998  1.385383
B -0.875599 -1.149330 -0.817648
C  0.615912  0.231193  1.318507

In [13]:
df["Column2"]

A    0.964998
B   -1.149330
C    0.231193
Name: Column2, dtype: float64

In [14]:
type(df["Column2"])

pandas.core.series.Series

In [15]:
df.loc["A"]

Column1    1.020045
Column2    0.964998
Column3    1.385383
Name: A, dtype: float64

In [16]:
type(df.loc["A"])

pandas.core.series.Series

In [17]:
df[["Column2","Column3"]]

    Column2   Column3
A  0.964998  1.385383
B -1.149330 -0.817648
C  0.231193  1.318507

In [18]:
df["Column4"]

KeyError: 'Column4'

#### Dataframe'e Sütün Ekleme

In [19]:
df["Column4"] = 0

In [20]:
df

    Column1   Column2   Column3  Column4
A  1.020045  0.964998  1.385383        0
B -0.875599 -1.149330 -0.817648        0
C  0.615912  0.231193  1.318507        0

In [21]:
df["Column5"] = 1

In [22]:
df

    Column1   Column2   Column3  Column4  Column5
A  1.020045  0.964998  1.385383        0        1
B -0.875599 -1.149330 -0.817648        0        1
C  0.615912  0.231193  1.318507        0        1

In [23]:
df["Column6"] = df["Column1"] + df["Column2"] + df["Column3"]

In [24]:
df

    Column1   Column2   Column3  Column4  Column5   Column6
A  1.020045  0.964998  1.385383        0        1  3.370426
B -0.875599 -1.149330 -0.817648        0        1 -2.842577
C  0.615912  0.231193  1.318507        0        1  2.165612

#### Dataframeden Sütün Silme

In [25]:
df

    Column1   Column2   Column3  Column4  Column5   Column6
A  1.020045  0.964998  1.385383        0        1  3.370426
B -0.875599 -1.149330 -0.817648        0        1 -2.842577
C  0.615912  0.231193  1.318507        0        1  2.165612

In [26]:
df.drop("Column4",axis = 1) # Böyle verirsek default axis değeri 0 olduğu için index silmeye çalışacak.

    Column1   Column2   Column3  Column5   Column6
A  1.020045  0.964998  1.385383        1  3.370426
B -0.875599 -1.149330 -0.817648        1 -2.842577
C  0.615912  0.231193  1.318507        1  2.165612

In [27]:
df.drop("Column5",axis = 1)

    Column1   Column2   Column3  Column4   Column6
A  1.020045  0.964998  1.385383        0  3.370426
B -0.875599 -1.149330 -0.817648        0 -2.842577
C  0.615912  0.231193  1.318507        0  2.165612

In [23]:
df

    Column1   Column2   Column3  Column4  Column5   Column6
A  0.837806  0.433342  1.791375        0        1  3.062522
B  0.182460 -1.618616  0.064771        0        1 -1.371384
C  0.323961  1.720074  2.577723        0        1  4.621757

In [24]:
df.drop("Column5",axis = 1)

    Column1   Column2   Column3  Column4   Column6
A  0.837806  0.433342  1.791375        0  3.062522
B  0.182460 -1.618616  0.064771        0 -1.371384
C  0.323961  1.720074  2.577723        0  4.621757

In [28]:
df # değişiklikler yansımadı.

    Column1   Column2   Column3  Column4  Column5   Column6
A  1.020045  0.964998  1.385383        0        1  3.370426
B -0.875599 -1.149330 -0.817648        0        1 -2.842577
C  0.615912  0.231193  1.318507        0        1  2.165612

In [29]:
df.drop("Column4",axis = 1,inplace=True)

In [30]:
df # Değişiklikler yansıdı.

    Column1   Column2   Column3  Column5   Column6
A  1.020045  0.964998  1.385383        1  3.370426
B -0.875599 -1.149330 -0.817648        1 -2.842577
C  0.615912  0.231193  1.318507        1  2.165612

#### Loc ve ILoc

In [32]:
df

    Column1   Column2   Column3  Column5   Column6
A  1.020045  0.964998  1.385383        1  3.370426
B -0.875599 -1.149330 -0.817648        1 -2.842577
C  0.615912  0.231193  1.318507        1  2.165612

In [33]:
df[["Column1","Column2"]]

    Column1   Column2
A  1.020045  0.964998
B -0.875599 -1.149330
C  0.615912  0.231193

In [30]:
df.loc["B"]

Column1    0.182460
Column2   -1.618616
Column3    0.064771
Column5    1.000000
Column6   -1.371384
Name: B, dtype: float64

In [35]:
df.iloc[0] # 1.index yani B

Column1    1.020045
Column2    0.964998
Column3    1.385383
Column5    1.000000
Column6    3.370426
Name: A, dtype: float64

In [37]:
df

    Column1   Column2   Column3  Column5   Column6
A  1.020045  0.964998  1.385383        1  3.370426
B -0.875599 -1.149330 -0.817648        1 -2.842577
C  0.615912  0.231193  1.318507        1  2.165612

In [38]:
df.loc["A","Column1"]

1.0200448044633057

In [39]:
df.loc["B","Column2"]

-1.1493300008357699

In [40]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A  1.020045  0.964998
B -0.875599 -1.149330

In [41]:
df

    Column1   Column2   Column3  Column5   Column6
A  1.020045  0.964998  1.385383        1  3.370426
B -0.875599 -1.149330 -0.817648        1 -2.842577
C  0.615912  0.231193  1.318507        1  2.165612

In [45]:
df.iloc[0:2,0:2]

    Column1   Column2
A  1.020045  0.964998
B -0.875599 -1.149330