In [1]:
import numpy as np
import pandas as pd

from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(4,3),["A","B","C","D"],["Column1","Column2","Column3"])

In [3]:
df

    Column1   Column2   Column3
A -0.704980 -1.873072 -0.171943
B -1.596641 -0.482766 -1.738505
C -0.360503  0.020648  1.038469
D -0.882796  0.528096 -0.631152

In [4]:
df > -1

   Column1  Column2  Column3
A     True    False     True
B    False     True    False
C     True     True     True
D     True     True     True

In [5]:
boolDf = df > -1

In [6]:
boolDf

   Column1  Column2  Column3
A     True    False     True
B    False     True    False
C     True     True     True
D     True     True     True

In [7]:
df[boolDf]

    Column1   Column2   Column3
A -0.704980       NaN -0.171943
B       NaN -0.482766       NaN
C -0.360503  0.020648  1.038469
D -0.882796  0.528096 -0.631152

In [8]:
df

    Column1   Column2   Column3
A -0.704980 -1.873072 -0.171943
B -1.596641 -0.482766 -1.738505
C -0.360503  0.020648  1.038469
D -0.882796  0.528096 -0.631152

In [9]:
df[df > 0]

   Column1   Column2   Column3
A      NaN       NaN       NaN
B      NaN       NaN       NaN
C      NaN  0.020648  1.038469
D      NaN  0.528096       NaN

In [10]:
df

    Column1   Column2   Column3
A -0.704980 -1.873072 -0.171943
B -1.596641 -0.482766 -1.738505
C -0.360503  0.020648  1.038469
D -0.882796  0.528096 -0.631152

In [11]:
df["Column1"]

A   -0.704980
B   -1.596641
C   -0.360503
D   -0.882796
Name: Column1, dtype: float64

In [18]:
df["Column1"] > -1

A     True
B    False
C     True
D     True
Name: Column1, dtype: bool

In [39]:
df[df["Column1"] > -1]

    Column1   Column2   Column3
A -0.704980 -1.873072 -0.171943
C -0.360503  0.020648  1.038469
D -0.882796  0.528096 -0.631152

In [34]:
df

    Column1   Column2   Column3
A -0.704980 -1.873072 -0.171943
B -1.596641 -0.482766 -1.738505
C -0.360503  0.020648  1.038469
D -0.882796  0.528096 -0.631152

In [35]:
df["Column3"] < 0

A     True
B     True
C    False
D     True
Name: Column3, dtype: bool

In [40]:
df[df["Column3"] < 0]

    Column1   Column2   Column3
A -0.704980 -1.873072 -0.171943
B -1.596641 -0.482766 -1.738505
D -0.882796  0.528096 -0.631152

In [31]:
df["Column1"] > -1

A     True
B    False
C     True
D     True
Name: Column1, dtype: bool

In [41]:
df[df["Column1"] > -1]

    Column1   Column2   Column3
A -0.704980 -1.873072 -0.171943
C -0.360503  0.020648  1.038469
D -0.882796  0.528096 -0.631152

In [42]:
df["Column3"] > 0

A    False
B    False
C     True
D    False
Name: Column3, dtype: bool

In [50]:
df[df["Column3"] > 0]["Column3"]

C    1.038469
Name: Column3, dtype: float64

In [56]:
df[(df["Column1"] > -1) & (df["Column3"] > 0)]

    Column1   Column2   Column3
C -0.360503  0.020648  1.038469

In [57]:
df[(df["Column1"] > -1) | (df["Column3"] > 0)]

    Column1   Column2   Column3
A -0.704980 -1.873072 -0.171943
C -0.360503  0.020648  1.038469
D -0.882796  0.528096 -0.631152

#### DataFrame'e Yeni Sütun Ekleme Yöntemleri

#### 1. Yöntem

In [59]:
df

    Column1   Column2   Column3
A -0.704980 -1.873072 -0.171943
B -1.596641 -0.482766 -1.738505
C -0.360503  0.020648  1.038469
D -0.882796  0.528096 -0.631152

In [60]:
df['Column0'] = 0

In [62]:
df['Column0']

A    0
B    0
C    0
D    0
Name: Column0, dtype: int64

In [63]:
df

    Column1   Column2   Column3  Column0
A -0.704980 -1.873072 -0.171943        0
B -1.596641 -0.482766 -1.738505        0
C -0.360503  0.020648  1.038469        0
D -0.882796  0.528096 -0.631152        0

In [68]:
df["Column4"] = pd.Series(randn(4),index = ["A","B","C","D"])

In [69]:
df

    Column1   Column2   Column3  Column0   Column4
A -0.704980 -1.873072 -0.171943        0 -0.945452
B -1.596641 -0.482766 -1.738505        0  0.581994
C -0.360503  0.020648  1.038469        0  0.627332
D -0.882796  0.528096 -0.631152        0 -0.258933

#### 2.Yöntem

In [70]:
df["Column5"] = randn(4)

In [71]:
df

    Column1   Column2   Column3  Column0   Column4   Column5
A -0.704980 -1.873072 -0.171943        0 -0.945452 -1.279518
B -1.596641 -0.482766 -1.738505        0  0.581994  0.726357
C -0.360503  0.020648  1.038469        0  0.627332 -0.741875
D -0.882796  0.528096 -0.631152        0 -0.258933 -0.807154

### Set Index ve Indeksi Değiştirme

In [72]:
df

    Column1   Column2   Column3  Column0   Column4   Column5
A -0.704980 -1.873072 -0.171943        0 -0.945452 -1.279518
B -1.596641 -0.482766 -1.738505        0  0.581994  0.726357
C -0.360503  0.020648  1.038469        0  0.627332 -0.741875
D -0.882796  0.528096 -0.631152        0 -0.258933 -0.807154

In [79]:
df["Column6"] = ["5","0","1","4"]

In [83]:
df

    Column1   Column2   Column3  Column0   Column4   Column5 Column6
A -0.704980 -1.873072 -0.171943        0 -0.945452 -1.279518       5
B -1.596641 -0.482766 -1.738505        0  0.581994  0.726357       0
C -0.360503  0.020648  1.038469        0  0.627332 -0.741875       1
D -0.882796  0.528096 -0.631152        0 -0.258933 -0.807154       4

In [84]:
df.set_index("Column6")

          Column1   Column2   Column3  Column0   Column4   Column5
Column6
5       -0.704980 -1.873072 -0.171943        0 -0.945452 -1.279518
0       -1.596641 -0.482766 -1.738505        0  0.581994  0.726357
1       -0.360503  0.020648  1.038469        0  0.627332 -0.741875
4       -0.882796  0.528096 -0.631152        0 -0.258933 -0.807154

In [95]:
df # Değişikliği geçerli yapmak için inplace parametresi gerekir.

          Column1   Column2   Column3  Column0   Column4   Column5
Column6
5       -0.704980 -1.873072 -0.171943        0 -0.945452 -1.279518
0       -1.596641 -0.482766 -1.738505        0  0.581994  0.726357
1       -0.360503  0.020648  1.038469        0  0.627332 -0.741875
4       -0.882796  0.528096 -0.631152        0 -0.258933 -0.807154

In [97]:
df.set_index("Column4",inplace=True)

In [98]:
df

            Column1   Column2   Column3  Column0   Column5
Column4
-0.945452 -0.704980 -1.873072 -0.171943        0 -1.279518
 0.581994 -1.596641 -0.482766 -1.738505        0  0.726357
 0.627332 -0.360503  0.020648  1.038469        0 -0.741875
-0.258933 -0.882796  0.528096 -0.631152        0 -0.807154

In [99]:
df.index.names # Indekslerin ismi

FrozenList(['Column4'])