### GroupBy Sorguları

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = {
        "Departman":["Bilişim","İnsan Kaynakları","Üretim","Üretim","Bilişim","İnsan Kaynakları"],
        "Çalışan": ["Mustafa","Jale","Kadir","Zeynep","Murat","Ahmet"],
        "Maaş":[3000,3500,2500,4500,4000,2000]
        }

In [3]:
dataset

{'Departman': ['Bilişim',
  'İnsan Kaynakları',
  'Üretim',
  'Üretim',
  'Bilişim',
  'İnsan Kaynakları'],
 'Çalışan': ['Mustafa', 'Jale', 'Kadir', 'Zeynep', 'Murat', 'Ahmet'],
 'Maaş': [3000, 3500, 2500, 4500, 4000, 2000]}

In [4]:
df = pd.DataFrame(dataset)

In [6]:
df

          Departman  Çalışan  Maaş
0           Bilişim  Mustafa  3000
1  İnsan Kaynakları     Jale  3500
2            Üretim    Kadir  2500
3            Üretim   Zeynep  4500
4           Bilişim    Murat  4000
5  İnsan Kaynakları    Ahmet  2000

In [7]:
DepGroup = df.groupby("Departman")

In [8]:
DepGroup

In [9]:
DepGroup.sum()

C:\Users\PC_N_717_\AppData\Local\Temp\ipykernel_3432\802905947.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  DepGroup.sum()

                  Maaş
Departman
Bilişim           7000
Üretim            7000
İnsan Kaynakları  5500

In [13]:
TotalPriceB = DepGroup.sum().loc["Bilişim"]

C:\Users\PC_N_717_\AppData\Local\Temp\ipykernel_3432\4181312087.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  TotalPriceB = DepGroup.sum().loc["Bilişim"]

In [14]:
TotalPriceB

Maaş    7000
Name: Bilişim, dtype: int64

In [15]:
int(TotalPriceB)

7000

In [16]:
df.groupby("Departman").count()

                  Çalışan  Maaş
Departman
Bilişim                 2     2
Üretim                  2     2
İnsan Kaynakları        2     2

In [17]:
df.groupby("Departman").max()

                  Çalışan  Maaş
Departman
Bilişim           Mustafa  4000
Üretim             Zeynep  4500
İnsan Kaynakları     Jale  3500

In [22]:
minPriceB = df.groupby("Departman").min()["Maaş"]["Bilişim"]

In [23]:
minPriceB

3000

In [28]:
averagePriceB = df.groupby("Departman").mean().loc["Bilişim"]["Maaş"]

C:\Users\PC_N_717_\AppData\Local\Temp\ipykernel_3432\53342476.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  averagePriceB = df.groupby("Departman").mean().loc["Bilişim"]["Maaş"]

In [29]:
averagePriceB

3500.0