### Kayıp(Missing) Verilerle Uğraşma

In [1]:
import numpy as np
import pandas as pd

In [10]:
arr = np.array([[10,20,np.nan],[5,np.nan,np.nan],[21,np.nan,10]])
arr.shape

(3, 3)

In [11]:
df = pd.DataFrame(arr,index=["Index1","Index2","Index3"],columns = ["Column1","Column2","Column3"])

In [12]:
df

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index2      5.0      NaN      NaN
Index3     21.0      NaN     10.0

In [13]:
df.dropna()# eksik degerleri kaldırır

Empty DataFrame
Columns: [Column1, Column2, Column3]
Index: []

In [14]:
df.dropna(axis = 1)

        Column1
Index1     10.0
Index2      5.0
Index3     21.0

In [16]:
df.dropna(thresh = 2) # Minimum 2 tane NaN olmayan değer olması eşiği belirledik.

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index3     21.0      NaN     10.0

In [17]:
df

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index2      5.0      NaN      NaN
Index3     21.0      NaN     10.0

In [18]:
df.fillna(value = 100)

        Column1  Column2  Column3
Index1     10.0     20.0    100.0
Index2      5.0    100.0    100.0
Index3     21.0    100.0     10.0

In [19]:
df.fillna(value = 0.1)

        Column1  Column2  Column3
Index1     10.0     20.0      0.1
Index2      5.0      0.1      0.1
Index3     21.0      0.1     10.0

In [20]:
df

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index2      5.0      NaN      NaN
Index3     21.0      NaN     10.0

#### NaN değerlerini tüm değerlerin ortalamasıyla güncellemek

In [21]:
deneme = df.sum()

In [22]:
deneme

Column1    36.0
Column2    20.0
Column3    10.0
dtype: float64

In [23]:
deneme.sum()

66.0

In [25]:
df.size # Dataframedeki toplam eleman sayısı

9

In [26]:
df.shape

(3, 3)

In [29]:
df.isnull().sum().sum() # Toplam NaN sayısı

4

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Index1 to Index3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  3 non-null      float64
 1   Column2  1 non-null      float64
 2   Column3  1 non-null      float64
dtypes: float64(3)
memory usage: 96.0+ bytes

In [32]:
def calculateMean(df):
    totalSum = df.sum().sum()
    totalNum = df.size - df.isnull().sum().sum()
    return totalSum / totalNum

df.fillna(value = calculateMean(df))

        Column1  Column2  Column3
Index1     10.0     20.0     13.2
Index2      5.0     13.2     13.2
Index3     21.0     13.2     10.0